// .movie-detail,  .movie-reviews, .movie-trailer, .similar-movies{
//     display: none;
// }
.movie-detail2 ul{
    display: flex;
    width: 100%;
}

#filter-prev, #filter-next{
    display: none;
}