@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bgcolor: rgb(10, 10, 14);
$contrastColor: rgb(14, 14, 17);

// $background: #e74c3c;
$select-color: #fff;
$select-background: rgba(24, 23, 29, 0.89);
$select-width: 140px;
$select-height: 40px;

//Variables
$small-desktop: 1150px;
$xs-desktop: 930px;
$tablet: 780px;
$xs-tablet: 705px;
$mobile: 625px;
$sm-mobile: 565px;
$xs-mobile: 380px;

//Media Queries
@mixin small-desktop {
  @media (max-width: #{$small-desktop}) {
    @content;
  }
}

@mixin xs-desktop {
  @media (max-width: #{$xs-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin xs-tablet {
  @media (max-width: #{$xs-tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin sm-mobile {
  @media (max-width: #{$sm-mobile}) {
    @content;
  }
}

@mixin xs-mobile {
  @media (max-width: #{$xs-mobile}) {
    @content;
  }
}

body {
  background-color: $bgcolor;
  color: rgba(226, 192, 248, 0.836);
  width: 100%;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 85%;
  // width: 1200px;
  margin: 0 auto;
  // white-space: nowrap;
  // white-space: nowrap;
  // overflow: hidden;

  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
}

//header
header {
  background-color: rgba(24, 23, 29, 0.863);
  display: flex;
  align-items: center;
  padding: 2rem 1.3rem 1.3rem 1.3rem;
  border-radius: 0 0 0.1rem 0.1rem;
  width: 100%;
  justify-content: space-between;
  // z-index: 100;
  position: relative;


  h1 {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 100;
    color: rgb(158, 61, 238);
  }

  form {
    display: flex;
    align-items: center;
    span {
      color: rgba(230, 207, 245, 0.658);
      letter-spacing: 1px;
      @include small-desktop {
        width: 120px;
        font-size: 0.8rem;
      }

      @include xs-desktop{
        font-size: 1.3rem;
        margin-bottom: 1rem;
        margin: 0 auto;
      }
    }

    @include xs-desktop {
      display: none;
    }

    select {
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(165, 160, 187, 0.795)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 5px;
      background-color: rgba(24, 23, 29, 0.89);
      border: solid 1px rgba(53, 50, 66, 0.863);
      letter-spacing: 1px;
      color: rgba(230, 207, 245, 0.644);
      border-radius: 0.1rem;
      padding: 0.5rem;
      width: 140px;
      margin: 1px;
      height: 40px;
      transition: 0.1s ease-in-out;
      &:hover {
        border: solid 1px rgb(111, 65, 148);
        color: rgba(226, 192, 248, 0.959);
        transition: 0.2s ease;
      }
      @include small-desktop {
        width: 120px;
        font-size: 0.7rem;
      }
      @include xs-desktop{
        width: 80%;
        margin: 0;
        margin-top: 0.7rem;
        font-size: .9rem;
      }
    }

    button {
      cursor: pointer;
      width: 75px;
      padding: 0.5rem;
      height: 40px;
      background-color: transparent;
      color: rgba(230, 207, 245, 0.644);
      letter-spacing: 1px;
      margin-left: 3px;
      border: none;
      color: rgb(230, 207, 245);
      border-radius: 0.1rem;
      letter-spacing: 1px;
      font-weight: 100;
      // font-size: 0.8rem;
      font-size: 1.1rem;
      font-family: "Bebas Neue", cursive;
      background-image: linear-gradient(
        to bottom right,
        rgb(160, 63, 240),
        rgba(84, 29, 139, 0.788)
      );
      @include xs-desktop{
        margin-top: 0.7rem;
        width: 40%;
      }
    }

    //responsive menu
    @include xs-desktop {
      position: fixed;
      right: 0px;
      height: 100vh;
      width: 50%;
      top: 0;
      display: flex;
      // flex-direction: column;
      // justify-content: center;
      z-index: 100;
      opacity: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      background-color: rgba(24, 23, 29, 0.925);
      color: rgb(139, 136, 136);
      // overflow-y: none;
    }

    @include tablet{
      width: 70%;
    }

    @include sm-mobile{
      width: 100%;
    }

    .filter-options {
      position: relative;
      @include xs-desktop {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 0 auto;

        justify-content: center;
        align-items: center;;
      }
    }

  }

  .search-container {
    display: flex;
    position: relative;
    width: 50%;
    @include small-desktop {
      width: 45%;
    }
    @include xs-desktop {
      width: 80%;
      justify-content: space-between;
    }
    @include mobile{
      flex-direction: column;
      width: 100%;
    }
  }

  input {
    background-color: rgb(44, 43, 51);
    background-color: transparent;
    border: solid 1px rgba(53, 50, 66, 0.863);
    padding: 0.6rem;
    border-radius: 0.1rem;
    width: 100%;
    color: rgba(222, 220, 231, 0.849);
    transition: 0.1s ease-in-out;
    height: 40px;
    margin-left: 1.2rem;
    @include xs-desktop {
      height: 100%;
      margin-left: 3.5rem;
    }
    @include mobile{
      margin-top: 0.3rem;
      margin-left: 0;
    }
  }

  input:focus {
    border: solid 1px rgba(158, 61, 238, 0.658);
  }

  #search {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 7px;
    right: 10px;
    // left: 0;
    font-size: 1.2rem;
    color: rgba(78, 69, 85, 0.644);
    @include mobile{
      top: 51px;
    }
  }

  //burgers
  .close-nav,
  .burger {
    cursor: pointer;
    display: none;
    // z-index: 100;
    // margin-top: 0.7rem;
    position: absolute;
    right: 1rem;
    @include xs-desktop {
      display: block;
    }
    @include mobile{
      margin-top: -2.6rem;
    }
  }

  .close-nav {
    @include mobile{
      margin-top: 0;
    }
  }
  // .burger{
  //   z-index: 100;
  //   @include mobile{
  //     position: absolute;
  //     top: 0;
  //     right: 10px;
  //     background-color: red;
  //   }
  // }

  .burger div {
    width: 30px;
    height: 2px;
    background-color: rgb(158, 61, 238);
    margin: 5px;
    // transition: all 0.3s ease;
  }

  .close-nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    .line1 {
      transform: rotate(-45deg) translate(-5px, 5px);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }

  .close-nav div {
    width: 30px;
    height: 2px;
    background-color: rgb(158, 61, 238);
    margin: 5px;
    transition: all 0.3s ease;
  }

  .nav-active {
    transform: translateX(0%) !important;
    z-index: 100;
    opacity: 1;
  }
}

//home banner
#landing-page {
  margin: 0 auto;
  background: linear-gradient(
      rgba(34, 33, 33, 0.733),
      rgba(116, 44, 163, 0.329)
    ),
    url("https://image.tmdb.org/t/p/original/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg")
      no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 50vh;
  // height: 500px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  border-bottom: solid 1px rgba(158, 61, 238, 0.164);
  margin-bottom: 8%;

  .landing-txt {
    width: 500px;
    border-radius: 0.1rem;
    padding: 7rem 0;

    @include tablet{
      width: 90%;
    }

    @include mobile{
      width: 100%;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 1px;
      font-family: "Anton", sans-serif;
      color: rgb(238, 225, 248);
      font-size: 2.4rem;
      @include tablet{
        font-size: 2rem;
      }

      @include mobile{
        font-size: 1.7rem;
      }
    }

    p {
      color: rgb(226, 192, 248);
      font-size: 1.3rem;
      line-height: 2rem;
      @include tablet{
        font-size: 1.1rem;
        line-height: 1.5rem;
      }

      @include mobile{
        font-size: 1rem;
      }
    }
  }
}

//Main content
main {
  width: 85%;
  // width: 1200px;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: -6%;

  //movie imgs
  img {
    max-width: 100%;
    cursor: pointer;
  }

  //section titles
  .title-section {
    display: flex;
    border-bottom: solid 1px rgba(38, 38, 48, 0.37);
    span {
      background-color: rgb(157, 68, 226);
      width: 5px;
      height: 35px;
      border: solid 1px rgb(157, 68, 226);
      margin-right: 0.4rem;
    }
  }

  h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 3rem;
    color: rgb(238, 225, 248);
    font-size: 2rem;
  }

  //pagination of containers
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    button {
      cursor: pointer;
      background-color: transparent;
      border: solid 2px rgba(168, 83, 224, 0.233);
      border: solid 2px rgb(142, 51, 211);
      font-size: 1rem;
      margin: 0.2rem;
      border-radius: 6rem;
      color: rgba(226, 192, 248, 0.692);
      font-size: 0.8rem;
      width: 40px;
      height: 40px;
      &:hover {
        background-color: rgba(168, 83, 224, 0.356);
        color: rgb(240, 233, 233);
      }
    }
  }

  //grid of containers
  .movies-filter,
  #popular-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: 1rem;
    // img{
    //   width: 100px;
    // }
  }

  .img-container {
    position: relative;
    // width: 100px;

    .details-btn {
      background-color: rgba(158, 61, 238, 0.096);
      background-image: linear-gradient(
        rgba(27, 24, 29, 0.342),
        rgba(30, 25, 32, 0.555)
      );
      position: absolute;
      top: 0;
      bottom: 0;
      // left: 0;
      // right: 0;
      height: 98.8%;
      // height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease;

      button {
        background-color: rgb(157, 68, 226);
        background-image: linear-gradient(
          to bottom right,
          rgb(160, 63, 240),
          rgba(84, 29, 139, 0.788)
        );
        border: none;
        padding: 0.8rem 2rem;
        position: absolute;
        bottom: 0;
        opacity: 0;
        border-radius: 0.1rem;
        color: rgb(230, 207, 245);
        letter-spacing: 1px;
        font-family: "Bebas Neue", cursive;
        font-size: 1.3rem;
        transition: 0.3s ease;
      }
    }

    &:hover .details-btn {
      opacity: 1;
    }

    &:hover button {
      opacity: 1;
      bottom: 25px;
    }
  }

  //movies style
  .movie-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    transition: 0.3s ease;

    .movie-title {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      text-align: center;
      color: rgba(226, 192, 248, 0.836);
    }

    .movie-rating {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(157, 68, 226, 0.836);
      padding: 0.3rem;
      color: rgb(243, 236, 236);

      p {
        font-size: 0.8rem;
        letter-spacing: 1px;
      }

      i {
        margin-right: 0.3rem;
        font-size: 0.8rem;
      }
    }
  }

  //upcoming movies
  #upcoming-slide {
    margin-top: 10%;
    width: 100%;
    // height: 100%;
    // min-height: 100vh;

    .swiper-slide {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .movie-date {
        font-weight: 100;
        margin-top: 0.3rem;
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: rgb(230, 207, 245);
      }
    }

    .swiper-container {
      width: 100%;
      margin-top: 1rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: rgb(158, 68, 226);
    }
  }

  //popular movies
  #popular-container {
    margin-top: 2%;
  }

  //Filtered movies
  #filtered-movies {
    margin-top: 10%;

    #genre {
      margin-right: 0.1rem;
    }

    .name-value,
    .item-searched {
      position: relative;
      width: 100%;
      display: none;
      border-bottom: solid 1px rgba(38, 38, 48, 0.37);
      .title-searched {
        font-family: "Bebas Neue", cursive;
        color: rgb(238, 225, 248);
        letter-spacing: 1pxs;
        font-size: 2rem;
        margin-right: 10px;
      }

      .texts {
        position: absolute;
        left: 215px;
        bottom: 15px;
      }
    }

    #genre,
    #filter,
    #movie-name {
      // background-color: red;
      // border: solid 2px rgb(157, 68, 226);
      // font-family: "Bebas Neue", cursive;
      // letter-spacing: 0.1rem;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      color: rgb(238, 225, 248);
      font-size: 0.9rem;
      // font-size: 1rem;
      background-image: linear-gradient(
        to bottom right,
        rgb(160, 63, 240),
        rgba(84, 29, 139, 0.788)
      );
    }

    // .title-section{
    //   display: none;
    // }
  }
  .movies-filter {
    margin-top: 3%;
  }
}

//DETAILS SECTION
.movie-trailer {
  margin-bottom: 1.5rem;
  a {
    cursor: pointer;
    background-color: transparent;
    color: rgb(238, 225, 248);
    padding: 0.6rem 2rem;
    border: none;
    margin-top: 1rem;
    letter-spacing: 1px;
    color: rgb(230, 207, 245);
    letter-spacing: 2px;
    font-family: "Bebas Neue", cursive;
    font-size: 1.3rem;
    // background-color: rgb(158, 61, 238);
    background-image: linear-gradient(
      to bottom right,
      rgb(160, 63, 240),
      rgba(84, 29, 139, 0.788)
    );
  }
}

#movie-banner {
  width: 100vw;
  margin: 0 auto;
  background-position: top;
  background-size: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  #searchInput,
  #search {
    display: none;
  }
}

a {
  text-decoration: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  background-color: transparent;
  // border: solid 1px rgba(53, 50, 66, 0.863);
  background-image: linear-gradient(
    to bottom right,
    rgb(160, 63, 240),
    rgba(84, 29, 139, 0.788)
  );
  padding: 0.5rem 1rem;
}

#movie-detail {
  margin-top: 10%;
  height: 100vh;
  z-index: 10;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  ul {
    list-style: none;
  }

  .poster-movie {
    width: 100%;
    span {
      position: absolute;
      bottom: 5rem;
      right: 50%;
    }

    img {
      max-width: 80%;
      width: 500px;
      // margin-top: -35%;
      position: absolute;
      top: -80px;
    }

    .bgimg {
      position: absolute;
      right: 105px;
      left: 35px;
      top: -155px;
      top: -6px;
      background-color: rgb(158, 61, 238);
      border-radius: 0.1rem;
      background-image: linear-gradient(
        to bottom right,
        rgba(167, 70, 247, 0.856),
        rgb(60, 16, 104)
      );
      width: 490px;
      height: 700px;
      z-index: -1;
    }
  }

  .details-container {
    // margin-top: 10%;

    .similar-title {
      margin-top: 3rem;
      margin-bottom: -0.5rem;
    }

    .overview {
      width: 100%;
      p {
        width: 520px;
        // width: 100%;
        line-height: 1.3rem;
      }
    }

    .detail-info {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      li {
        .contrast {
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          color: rgb(238, 225, 248);
          // font-family: "Anton", sans-serif;
        }
      }
    }

    .title-section {
      margin-top: 3rem;
    }

    .similar-movies {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 2rem;
      width: 520px;
      margin-top: 0.5rem;
      div {
        p {
          font-size: 0.8rem;
          text-align: center;
        }
        img {
          width: 180px;
        }
      }
    }
  }
}

//movie reviews
.reviews-section {
  .title-section {
    border-bottom: none;
  }
}

.movie-reviews {
  background-color: rgb(30, 30, 61);
  background-image: linear-gradient(
    to bottom right,
    rgb(19, 12, 22),
    rgba(46, 18, 80, 0.788)
  );
  background-image: linear-gradient(
    to bottom right,
    rgb(13, 13, 19),
    rgba(20, 14, 22, 0.884)
  );
  border: solid 1px rgb(18, 18, 24);
  padding: 1rem 2rem;
  margin-top: 1rem;
  height: 500px;
  overflow-y: scroll;
  // overflow-x: hidden;
  scrollbar-color: rgb(160, 63, 240) rgba(26, 23, 31, 0.363);
  display: flex;
  flex-direction: column;
  // align-items: center;

  h1 {
    margin-bottom: 1rem;
  }
  h3 {
    margin-bottom: 0.5rem;
    color: rgb(238, 225, 248);
  }
  p {
    margin-bottom: 1.2rem;
  }
  a {
    text-decoration: none;
    color: rgb(238, 225, 248);
    // border: solid 2px rgba(158, 61, 238, 0.63);
    background-image: linear-gradient(
      to bottom right,
      rgb(160, 63, 240),
      rgba(84, 29, 139, 0.788)
    );
    padding: 0.5rem 2rem;
    margin-top: 5rem;
    // margin-bottom: 1rem;
  }

  div {
    margin-top: 0rem;
    // margin-bottom: 30rem;
    padding: 2rem 0;
  }
}

//scrollbar chrome
.movie-reviews::-webkit-scrollbar {
  width: 10px;
}

.movie-reviews::-webkit-scrollbar-track {
  background: rgba(26, 23, 31, 0.952);
}

.movie-reviews::-webkit-scrollbar-thumb {
  background: rgb(160, 63, 240);
}

//fade magnificpopup
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.9;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

//footer
footer {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(10, 10, 14), rgb(21, 17, 24));
  border-top: solid 1px rgb(27, 22, 31);
  color: rgb(122, 95, 141);
}

.movie-detail2 ul {
  display: flex;
  width: 100%;
}

.pagination-btn {
  display: none;
}

.show {
  display: flex;
}

#filtered-movies h1 {
  display: none;
}

.hide {
  display: none;
}

// .filter-options{
//   display: flex;
// }
