@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #111016;
  color: #ffffff;
  width: 100%;
  font-family: 'Mulish', sans-serif;
}

header {
  background-color: #18171d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0 0.7rem 0;
}

header h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 100;
  color: #f7f1f7;
  color: #773aa8;
}

header .container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form span {
  color: #b5b1c7;
}

header form select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(241, 235, 235)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  background-color: #2c2b33;
  border: solid 1px #303035;
  color: #d4c8c8;
  padding: 0.5rem;
  margin: 1px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

header form button {
  cursor: pointer;
  width: 75px;
  padding: 0.5rem;
  background-color: transparent;
  color: #d4c8c8;
  margin-left: 3px;
  border: solid 1px #545263;
}

header form button:hover {
  border: solid 1px #6f4194;
  color: #f3eaea;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .search-container {
  position: relative;
}

header input {
  background-color: #2c2b33;
  border: solid 1px #303035;
  padding: 0.6rem;
  border-radius: 0.1rem;
  width: 500px;
  color: #e7dddd;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

header input:focus {
  border: solid 1px #6f4194;
}

header select:focus {
  border: solid 1px #6f4194;
}

header #search {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 7px;
  right: 10px;
  font-size: 1.2rem;
  color: #5b5968;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10%;
}

#upcoming-slide {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

#upcoming-slide .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#upcoming-slide .swiper-slide .movie-date {
  font-weight: 100;
  margin-top: 0.3rem;
  color: #9d94c7;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
}

#upcoming-slide h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 3rem;
  border-bottom: solid 1px #331d44;
  color: #5a5a75;
  color: #d8d2dd;
}

#upcoming-slide img {
  max-width: 100%;
}

#upcoming-slide .swiper-container {
  width: 100%;
  margin-top: 1rem;
}

#upcoming-slide .swiper-button-prev,
#upcoming-slide .swiper-button-next {
  color: #9e44e2;
}

#popular-container {
  margin-top: 5%;
}

#popular-container .movie-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 1rem 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#popular-container .movie-item .movie-title {
  margin-top: 0.7rem;
  text-align: center;
}

#popular-container .movie-item .movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(157, 68, 226, 0.671);
  padding: 0.3rem;
  font-weight: 100;
  font-family: 'Bebas Neue', cursive;
}

#popular-container h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 3rem;
  border-bottom: solid 1px #331d44;
  color: #ccc2ff;
  color: #d8d2dd;
}

#popular-container img {
  max-width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#popular-container .popular-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

#popular-container .popular-pagination button {
  cursor: pointer;
  background-color: transparent;
  border: solid 2px #6f4194;
  border: solid 2px #402455;
  font-size: 1rem;
  margin: 0.2rem;
  border-radius: 6rem;
  color: #8178af;
  width: 50px;
  height: 50px;
}

#popular-container .popular-pagination button:hover {
  background-color: #6f4194;
  color: white;
}

#popular-container #popular-movies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 1rem;
}

.movies-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 1rem;
}

.movies-filter img {
  max-width: 100%;
}

.movies-filter .movie-item {
  position: relative;
}

.movies-filter .movie-item .movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #9e44e2;
  padding: 0.3rem;
  font-weight: 100;
  font-family: 'Bebas Neue', cursive;
}

footer {
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #851a5c;
}

.movie-detail2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.pagination-btn {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filtered-movies h1 {
  display: none;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */